.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  align-items: center;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container-content {
  background-color: #282c34;
  display: contents;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-text {
  font-size: 35px;
  color: #f9f9f9;
  font-family: "Times New Roman", Times, serif;
}

.app-content-text {
  font-size: 35px;
  background-color: #282c34;
  color: #f9f9f9;
  font-family: "Times New Roman", Times, serif;
}

.App-header {
  margin-top: 1.5px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  column-gap: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
